.Main-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 450px;
    width: 100%;
}

.images-1 {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hading-1 {
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}

.pgh-1 {
    margin-top: 25px;
    text-align: center;
    color: rgb(17, 24, 39);
}

.login-input{
    border-radius: 5px;
    margin-top: 25px;
}
.sr-only{
    margin-bottom: 1rem;
    width: 100%;
    border-width: 1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 6px;
    text-align: center;

}
.remember{
    display: flex;
    align-items: center;
    display: block;
}
.second-part{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top:5px;
}
.Login {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(79 70 229/var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    

}
button{
    border: none;
    background-color: transparent;
    color: white;
}
.last-register{
    text-align: center;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: 15px;
}


