.Main-Register {
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Register-container {
    max-width: 28rem;
    width: 100%;

}

.images-001 {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.register-hading {
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}

.register-phg1 {
    margin-top: 25px;
    text-align: center;
    color: rgb(17, 24, 39);

}

.login-main-name {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

.login-text001 {
    width: 100%;
    display: flex;
    margin-right: 0.5rem;
}

.login-text002 {
    width: 100%;
    display: flex;
    margin-left: 0.5rem;
}

.text-only {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-radius: 6px;
    width: 100%;
    display: block;
    text-align: center;
}

.sr-only {
    margin-bottom: 1rem;
    width: 100%;
    border-width: 1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 6px;
    text-align: center;

}

.Register {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: lightblue;
    /* background-color: rgb(79 70 229/var(--tw-bg-opacity));
    --tw-bg-opacity: 1; */
    border-radius: 6px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
}

button {
    border: none;
    background-color: transparent;
    color: black;
}

.last-login {
    text-align: center;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-top: 15px;
}