body {
    background-color: lightblue;
    font-family: sans-serif;
}
.mini_blogg_creat {
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    display: flex;
}

.mini_new_blog_des {
    max-width: 28rem;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 6px;
}

.Show_btn{
    width: 100px;
    height: 30px;
    background-color: black;
    border-radius: 10px;
    border: none;
    color: white;
    align-items: center;
}
.buttone_blogg{
    align-items: center;
}